.Rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.Rating-Image {
  margin-top: 1.625rem;
  background-color: aliceblue;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  border-radius: 2.5625rem;
}
.RatingService {
  width: 24.625rem;
  height: 17.8125rem;
  left: 6.25rem;
  top: 91.5625rem;
  margin-top: 2.875rem;
  border-radius: 0.625rem;
  padding-left: 1.5rem;
  box-shadow: -0.5625rem -0.125rem 5.0625rem rgba(162, 159, 159, 0.2);
}

.RatingService h1 {
  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
  margin-top: 1.5rem;
  color: #151411;
}

.RatingService h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;
  margin-top: 1.25rem;
  color: #afadb5;
  font-family: "Encode Sans", sans-serif;
}
