.ProductView {
  display: flex;
  justify-content: center;

  gap: 3.125rem;
}

.ProductView img {
  width: 37.5rem;
  height: 37.5rem;

  margin-top: 100px;
}

.ProductView-Description {
  margin-top: 136px;
}

.ProductView h1 {
  width: 29rem;
  height: 3.5625rem;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 130%;

  color: #151411;
}

.ProductView h4 {
  width: 21.625rem;
  /* height: 32px;
  margin-top: 1.625rem; */
  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;

  color: #afadb5;
}

/* ===============================BOXING COLOR ====================================== */

.BoxingColor {
  margin-top: 20px;
}

.A {
  width: 3.125rem;
  height: 3.125rem;
  left: 46.875rem;
  top: 26.5rem;
  border: none;
  background: #151411;
}
.B {
  width: 3.125rem;
  height: 3.125rem;
  left: 46.875rem;
  top: 26.5rem;
  border: none;
  background: #314443;
}
.C {
  width: 3.125rem;
  height: 3.125rem;
  left: 46.875rem;
  top: 26.5rem;
  border: none;
  background: #c5a26e;
}
.D {
  width: 3.125rem;
  height: 3.125rem;
  left: 46.875rem;
  top: 26.5rem;
  border: none;
  background: #d8dbe0;
}
/* ==================================================================END OF BOXING COLOR ====================================================== */
.ProductView h6 {
  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-top: 30px;
  line-height: 130%;

  color: #151411;
}

.ProductView h2 {
  width: 512px;

  margin-top: 20px;
  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;

  color: #afadb5;
}

.Price {
  width: 151px;
  height: 57px;
  margin-top: 30px;
  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;

  color: #151411;
}

.buttonTag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
  gap: 20px;

  width: 590px;
  height: 58px;
}

span {
  width: 93px;
  height: 32px;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;

  color: #518581;
}

.btn1 {
  width: 17.8125rem;
  height: 3.625rem;
  background-color: #518581;
  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 130%;
  border: none;
  text-align: center;
  box-shadow: -9px 14px 17px rgba(162, 159, 159, 0.2);
  color: #ffffff;
}

.btn2 {
  width: 17.8125rem;
  height: 3.625rem;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 130%;
  border: none;
  text-align: center;
  background-color: white;
  box-shadow: -9px 14px 17px rgba(162, 159, 159, 0.2);
  color: #000000;
}

.btn1:hover {
  background-color: transparent;
  border: #518581 solid 2px;
  color: #518581;
}

.btn2:hover {
  background-color: transparent;
  border: #518581 solid 2px;
  color: #518581;
}

/* ============================================================ Related Box ===================================================================== */

.RelatedItems {
  height: 2.625rem;
  margin-left: 6.25rem;
  font-family: "Encode Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
  margin-top: 3.125rem;
}

.RelatedBox {
  display: flex;
  justify-content: space-around;
}

.Related-container {
  display: flex;
  justify-content: center;
  gap: 1.8125rem;
  margin-top: 1.875rem;
}
.RelatedCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 24.625rem;
  height: 34rem;
}

.RelatedCard img {
  width: 24.625rem;
  height: 22.5rem;
}

.RelatedCard h5 {
  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 130%;
  margin-top: 26px;
  color: #afadb5;
}

.RelatedCard h1 {
  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 130%;
  margin-top: 0.875rem;
  letter-spacing: 0.01em;

  color: #151411;
}

.RelatedCard h4 {
  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;
  margin-top: 0.375rem;
  color: #afadb5;
}

.RelatedCard h2 {
  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;

  color: #151411;
  margin-top: 1.125rem;
}
