.Production_Service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.Production_Service h1 {
  width: 19.9375rem;
  height: 5.1875rem;
  left: 36.0625rem;
  top: 13.75rem;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 130%;

  text-align: center;
  margin-top: 6.25rem;
  color: #151411;
}

.Production_Service h3 {
  width: 36.5625rem;
  height: 4rem;
  left: 29.1875rem;
  top: 20.1875rem;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;

  text-align: center;

  color: #afadb5;
}

.Service_Video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.125rem;
}

.Service_Video img {
  width: 120.5rem;
  height: 50.375rem;
}

.Service_Rating_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.6875rem;
}

.Rating_Box {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 11.1875rem;
}

.Service_Aim h2 {
  width: 31.25rem;
  height: 1.4375rem;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 130%;

  color: #ffb23f;
}

.Service_Aim h1 {
  width: 31.25rem;
  height: 10.6875rem;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 130%;

  color: #151411;
}

.Service_Rating {
  width: 32.125rem;
  height: 6.1875rem;
  display: flex;
  margin-top: 3.125rem;
  justify-content: flex-start;
  align-items: center;
}

.Service_Rating h1 {
  width: 5.4375rem;
  height: 3.5625rem;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 130%;

  color: #151411;
}

.Service_Rating h3 {
  width: 9.1875rem;
  height: 2rem;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;

  color: #afadb5;
}

.Service_Contect_Box {
  width: 37.125rem;
  gap: 1.5625rem;
  margin-top: 13.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Service_Contect-Icon {
}

.Service_Contect_Text1 h1 {
  width: 29.25rem;
  height: 2.125rem;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 130%;

  letter-spacing: 0.01em;

  color: #151411;
}

.Service_Contect_Text1 h3 {
  width: 29.5625rem;
  height: 4.0625rem;
  font-family: "Encode Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;
  color: #afadb5;
}

.Service_Contect_Text2 h1 {
  width: 29.25rem;
  height: 2.125rem;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 130%;

  letter-spacing: 0.01em;

  color: #151411;
}

.Service_Contect_Text2 h3 {
  width: 30.25rem;
  height: 4.0625rem;
  font-family: "Encode Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;

  color: #afadb5;
}

.Service_Contect_Text3 h1 {
  width: 29.25rem;
  height: 2.125rem;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 130%;

  letter-spacing: 0.01em;

  color: #151411;
}

.Service_Contect_Text3 h3 {
  width: 29.25rem;
  height: 2.125rem;
  font-family: "Encode Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;

  color: #afadb5;
}

.Company_TeamAim {
  display: flex;
  justify-content: center;
  gap: 16.6875rem;
  align-items: center;
  margin-top: 11.25rem;
}

.Team_Aim {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: 0.875rem;

  width: 34.25rem;
  height: 9.4375rem;
}

.Team_Aim h2 {
  width: 6.1875rem;
  height: 1.4375rem;

  font-family: "Encode Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 130%;

  color: #ffb23f;
}

.Team_Aim h1 {
  width: 32.75rem;
  height: 7.125rem;
  font-family: "Encode Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 130%;

  letter-spacing: 0.01em;

  color: #151411;
}

.Team_Goal h3 {
  width: 29.5625rem;
  height: 6rem;

  font-family: "Encode Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;

  color: #afadb5;
}

.AboutUSWriteup {
  display: flex;
  text-align: center;
  margin-top: 11.3125rem;
  justify-content: space-around;
  margin-right: 3.3125rem;
  align-items: center;
  margin-top: 11.25rem;
}

.AboutUSWriteup h1 {
  width: 394px;
  height: 114px;
  left: 100px;
  top: 2790px;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;

  color: #151411;
}

.AboutUSWriteup button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  width: 201px;
  height: 50px;
  background: #518581;
  border: none;
}

.Writeup {
  display: flex;
  justify-self: start;
}

.Icon {
  width: 2rem;
  font-size: 2.9375rem;
  margin-top: -0.099rem;
  color: white;
  display: flex;
  align-items: center;
}

.AboutUSWriteup button h2 {
  width: 82px;
  height: 23px;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;

  text-align: center;

  color: #ffffff;
}
