.Product-DescriptionIteam {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.Product-Description {
  margin-top: 180px;
}
.Product-Description h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;

  color: #ffb23f;
  font-family: "Encode Sans", sans-serif;
}

.Product-Description h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  font-family: "Encode Sans", sans-serif;

  color: #151411;
}

.Product-Description h3 {
  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  margin-top: 50px;
  color: #afadb5;
}

.Product-btn {
  width: 170px;
  height: 54px;
  margin-top: 50px;
  background: #518581;
  border: #518581;
}

.Product-btn h2 {
  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;

  text-align: center;

  color: #ffffff;
}

.WorkSample-Image {
  margin-top: 50px;
}

.Product-Description2 {
  display: flex;
  margin-top: 225px;
}

.Description {
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  align-items: center;
}

.Description h1 {
  height: 57px;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;

  color: #151411;
  width: 87px;
}

.Description h2 {
  width: 147px;
  height: 32px;

  font-family: "Encode Sans", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;

  color: #afadb5;
}

.WorkSample-Image2 {
  margin-top: 57px;
}
